<!--Main Navigation-->
<header class="intro-header">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>Pokemon app</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pokemons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>
  <!--Intro Section-->
  <section class="view intro-2 rgba-gradient">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row flex-center pt-5 mt-3">
          <div class="col-md-6 text-center text-md-left margins">
            <div class="white-text">
              <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Collect all the pokemon</h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <br>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
