<div class="pokemon-grid">
  <div class="box"
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 24, currentPage: page, totalItems: totalPokemons }">
    <img [src]="pokemon.sprites.front_default" alt="Pokemon">
    <h3 class="text-center">{{ pokemon.name }}</h3>
    <p class="p-2 mb-1">
      <b>Type:</b> {{ pokemon.types[0].type.name }}
      <br>
      <b>Height:</b> {{ pokemon.height }}
      <br>
      <b>Health:</b> {{ pokemon.stats[0].base_stat }}
      <br>
      <b>Attack Power:</b> {{ pokemon.stats[1].base_stat }}
    </p>
    <app-catch-me-button></app-catch-me-button>
  </div>
</div>
<pagination-controls (pageChange)="page = $event; pokemons= []; getPokemons() "></pagination-controls>