.login-button{
  color: #2a9d8f;
  border-color: #10403b;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  border-width: 2px;
  border-radius: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

.warning{
  margin-top: 20px;
  color: #793a3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

