.pokemon-image{
  display: inline-flex;
  width: 80%;
  height: 80%;
  align-content: center;
}

.pokemon-card{
  width: 200px;
  height: 200px;
  background-color: #114129;
  text-align: center;
  border-radius: 10px;
  border: solid 2px #1b4123;
  margin-bottom: 15px;
}

.profile-title{
  color: #2a9d8f;
  font-family: "Bahnschrift", sans-serif;
  font-size: 35px;
}

.profile-subheader{
  color: #2a9d8f;
  font-family: "Bahnschrift", sans-serif;
  font-size: 20px;
}
